<div class="footer-container d-flex">
    <div class="home-tab text-center common-tab p-2" (click)="scrollToElement('home-tab')">
        <i class="footer-menu-icon fas fa-home"></i>
        <div class="footer-menu-text">HOME</div>
    </div>
    <div class="aboutUs-tab text-center common-tab p-2" (click)="scrollToElement('aboutUs-tab')">
        <i class="footer-menu-icon fas fa-briefcase"></i>
        <div class="footer-menu-text">ABOUT_US</div>
    </div>
    <div class="home-tab text-center common-tab p-2" (click)="scrollToElement('payment-tab')">
        <i class="footer-menu-icon fas fa-money-bill-alt"></i>
                <div class="footer-menu-text">PAYMENT</div>
    </div>
    <div class="home-tab text-center common-tab p-2" (click)="scrollToElement('share-tab')">
        <i class="footer-menu-icon fas fa-share"></i>
        <div class="footer-menu-text">SHARE</div>
    </div>
</div>