.sidebar-menu-wrapper {
    background: #3b19cd;
}

.sidebar-menu-wrapper {
    width: 20%;
}
.profile-info-container {
    width: 80%;
}
.profile-info-wrapper {
    height: 193px;
}

.logo-wrapper {
    padding: 10px;
    border: 2px solid black;
    border-radius: 6px;
}

.download-phonebook-wrapper {
    background: #888888;
    color: white;
    border-bottom: 4px solid black;
}

.call-icon, .whatsapp-icon, .globe-icon, .mail-icon, .map-icon {
    color: white;
}

.call-icon {
    background-color: #f2911d;
    font-size: 22px;
}
.name-wrapper{
    font-size: 18px;
}

.map-icon {
    background-color: #039ed7;
    font-size: 22px;
}
.whatsapp-icon {
    background-color: #4FAF61;
    font-size: 28px;
}

.mail-icon {
    background-color: #e04c1e;
    font-size: 22px;
}

.globe-icon {
    background-color: #155ba3;
    font-size: 22px;
}