<div class="app-page-container p-3">
  <div class="top-border-wrapper d-flex">
    <div class="w-20 first-part"></div>
    <div class="w-20 secound-part"></div>
    <div class="w-20 third-part"></div>
    <div class="w-20 fourth-part"></div>
    <div class="w-20 fiveth-part"></div>
  </div>
  <div class="mb-3" style="background-color: white;">
    <app-admin-profile></app-admin-profile>
  </div>
  <div class="mb-3" style="background-color: white;">
    <div class="top-border-wrapper d-flex">
      <div class="w-20 first-part"></div>
      <div class="w-20 secound-part"></div>
      <div class="w-20 third-part"></div>
      <div class="w-20 fourth-part"></div>
      <div class="w-20 fiveth-part"></div>
    </div>
    <app-about-us></app-about-us>
  </div>
  <div class="mb-3" style="background-color: white;">
    <div class="top-border-wrapper d-flex">
      <div class="w-20 first-part"></div>
      <div class="w-20 secound-part"></div>
      <div class="w-20 third-part"></div>
      <div class="w-20 fourth-part"></div>
      <div class="w-20 fiveth-part"></div>
    </div>
    <app-payment-info></app-payment-info>
  </div>
  <div class="mb-3" style="background-color: white;">
    <div class="top-border-wrapper d-flex">
      <div class="w-20 first-part"></div>
      <div class="w-20 secound-part"></div>
      <div class="w-20 third-part"></div>
      <div class="w-20 fourth-part"></div>
      <div class="w-20 fiveth-part"></div>
    </div>
    <app-gallery></app-gallery>
  </div>
</div>
<div class="footer-part f-14" style="height: 48px;">
  <app-footer></app-footer>
</div>