<div class="about-information px-3 pb-3">
    <div class="title-wrapper py-3">
        <h3 class="about-us-title">About Us</h3>
    </div>
    <div class="about-info-wrapper">
        <div class="contact-name d-flex">
            <p class="mb-0 common-label"><strong>Company Name</strong></p>
            <p class="mb-0 common-content-wrapper"><strong class="mr-1">:</strong> Quick Design Solution</p>
        </div>
        <div class="contact-name d-flex">
            <p class="mb-0 common-label"><strong>Category</strong></p>
            <p class="mb-0 common-content-wrapper"><strong class="mr-1">:</strong>Architecture Work</p>
        </div>
        <div class="contact-name d-flex mb-3">
            <p class="mb-0 common-label"><strong>Nature Of Business</strong></p>
            <p class="mb-0 common-content-wrapper d-flex"><strong class="mr-1">:</strong> Architect and Interior
                Designer, AUDA, A.M.C. Plan Pass, Structure Designer, Consultancy Services, Planning and Designer
            </p>
        </div>
        <div class="other-detail">
            <div class="contact-name d-flex">
                <p class=" common-label"><strong>Our Specialities</strong></p>
            </div>
            <ul class="unorderedList">
                <li>Design of residential Bungalows and Apartment</li>
                <li>Design of Industrial shed</li>
                <li>Redesign of existing Building</li>
                <li>Create BIM model with all discipline for all type Building</li>
                <li>On site project supervision</li>
            </ul>
            <div class="contact-name d-flex">
                <p class="common-label"><strong>Our Services</strong></p>
            </div>
            <ul class="unorderedList">
                <li>Architectural Design</li>
                <li>Architectural 3D Modeling Residential Structural Design</li>
                <li>Structural Engineering
                    Building Information Modeling in Revit
                    AUDA, AMC Plan Passing</li>
            </ul>
            <div class="about-us-text">
                <p>ADC “Approval + Design + Construction”</p>
                <p><strong>Construction: </strong>Residence, commercial</p>
                <p><strong>Design:</strong> &nbsp;Residential, Commercial, Religious, Industrial, Hotel And Hospitality,
                    Public Buildings, Redevelopment Proposal</p>
                <p><strong>Approval:</strong> Local Authority</p>
                <ul>
                    <li>Prepare plan according to client requirement and government norms</li>
                    <li>On site project supervision</li>
                </ul>
            </div>
            <div class="download-part">
                <p class="speciality-label"><strong>Documents</strong></p>
                <div class="download-pdf d-flex align-items-center mb-2">
                    <div class="pdf-icon-wrapper p-2">
                        <i class="fas fa-file-pdf ml-1"></i>
                    </div>
                    <div class="pdf-title-wrapper p-2">
                        <span>Chirag Patel.pdf</span>
                    </div>
                    <div class="download-pdf-info text-right p-2">
                        <i class="fas fa-download mr-2"></i>
                    </div>
                </div>
                <div class="download-pdf d-flex align-items-center mb-2">
                    <div class="pdf-icon-wrapper p-2">
                        <i class="fas fa-file-pdf ml-1"></i>
                    </div>
                    <div class="pdf-title-wrapper p-2">
                        <span>Chirag Patel.pdf</span>
                    </div>
                    <div class="download-pdf-info text-right p-2">
                        <i class="fas fa-download mr-2"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>